@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Designed by: https://github.com/ukahchu */

/*start of color snipet: The code snippet defines CSS custom properties 
(also known as CSS variables) using the :root selector. These custom properties
 are used to store values such as colors, font sizes, and max-width. This code 
 snippet can be used at the beginning of a CSS file to define 
custom properties that can be used throughout the rest of the stylesheet
For example, the --primary-color property can be used to set the color of 
buttons, headings, or other elements consistently throughout the website.*/

:root {
  --primary-color: #5484dd;
  --primary-color-dark: #112b5a;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f5f6f8;
  --white: #ffffff;
  --max-width: 1200px;
}
/*End of color snipet*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Start of styles for Header section*/

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.section__description {
  margin-top: 1rem;
  max-width: 600px;
  color: var(--text-light);
}

.btn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  outline: none;
  border: none;
  border-radius: 2px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

img {
  width: 300px;
  display: flex;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.logo {
  max-width: 150px;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  padding-top: 4rem;
  background-image: linear-gradient(
      rgba(17, 43, 90, 0.7),
      rgba(17, 43, 90, 0.7)
    ),
    url("assets/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav__bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--primary-color-dark);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--primary-color);
  transform: translateY(-1000%);
  transition: 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  color: var(--white);
  transition: 0.3s;
}

.nav__links a:hover {
  color: var(--primary-color-dark);
}

.header__container {
  max-width: 900px;
}

.header__container h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
  text-align: center;
}
.header__container p {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 4rem;
  color: var(--white);
  text-align: center;
}

/*Booking section styling start*/

.booking {
  max-width: 400px;
  margin: auto;
  padding: 1.5rem 1rem;
  gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}

.booking__type {
  width: fit-content;
  padding: 5px;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 2px;
}

.booking__type > div {
  padding: 10px;
  color: var(--white);
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.booking__type > :is(div:hover, div.active) {
  color: var(--primary-color);
  background-color: var(--white);
}

.booking__form {
  padding: 1.5rem 1rem;
  display: grid;
  align-items: center;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.booking__input {
  display: grid;
  gap: 5px;
}

.booking__input > label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--white);
}

.booking__input > input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--text-dark);
  border: 1px solid var(--extra-light);
  border-radius: 2px;
}

.booking__btn {
  text-align: right;
}

/*Booking section styling End*/

/*End of styles for Header section*/

/*Start of Media Queries*/
@media (width > 768px) {
  nav {
    padding: 2rem 1rem;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav__bar {
    padding: 0;
    background-color: transparent;
  }
  .nav__menu__btn {
    display: none;
  }
  .nav__links {
    padding: 0;
    width: unset;
    position: static;
    transform: none;
    flex-direction: row;
    background-color: transparent;
  }
  .header {
    padding: 0;
  }
}
/*End of Media Queries*/

/*Start of styling for trip routes*/

.booking {
  max-width: 100%;
  padding: 1.5rem;
}

.booking__form {
  padding: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

/*End of styling for trip routes*/
